.home {
  max-width: 1280px;
  margin: 0 auto;

  .hero {
    width: 100%;
    height: 500px;
    background-image: url(/images/hero.jpg);
    opacity: 1.5;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;

    .title {
      color: white;
      font-size: 60px;
      font-family: PN;
      padding: 170px 0px;
    }

    p {
      width: 484px;
      height: 54px;
      color: white;
      font-size: 20px;
      font-family: GS;
      text-align: justify;
      margin-top: -150px;
      margin-left: 400px;
    }

    .readMore {
      width: 133px;
      @include site-button(0);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 75px;
      margin-left: 574px;
    }
  }

  .promo-tours {
    min-height: 304px;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: -50px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;

    .promo-one {
      height: 304px;
      width: 236px;
      background-image: url(/images/tour-01.jpg);
      opacity: 1.2;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      text-align: center;
      align-items: center;

      .place {
        color: white;
        font-size: 60px;
        font-family: PC;
        padding: 37px 0px 0px 0px;
        text-transform: uppercase;
      }

      .price {
        color: white;
        font-size: 30px;
        font-family: PC;
        text-transform: lowercase;
      }

      .learnMore {
        width: 133px;
        @include site-button;
        align-items: center;
        justify-content: center;
        margin-left: 52px;
        margin-top: 37px;
      }
    }

    .promo-two {
      height: 304px;
      width: 236px;
      background-image: url(/images/tour-02.jpg);
      opacity: 1.2;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      text-align: center;
      align-items: center;

      .place {
        color: white;
        font-size: 60px;
        font-family: PC;
        padding: 37px 0px 0px 0px;
        text-transform: uppercase;
      }

      .price {
        color: white;
        font-size: 30px;
        font-family: PC;
        text-transform: lowercase;
      }

      .learnMore {
        width: 133px;
        @include site-button;
        align-items: center;
        justify-content: center;
        margin-left: 52px;
        margin-top: 37px;
      }
    }

    .promo-three {
      height: 304px;
      width: 236px;
      background-image: url(/images/tour-03.jpg);
      opacity: 1.2;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      text-align: center;
      align-items: center;

      .place {
        color: white;
        font-size: 60px;
        font-family: PC;
        padding: 37px 0px 0px 0px;
        text-transform: uppercase;
      }

      .price {
        color: white;
        font-size: 30px;
        font-family: PC;
        text-transform: lowercase;
      }

      .learnMore {
        width: 133px;
        @include site-button;
        align-items: center;
        justify-content: center;
        margin-left: 52px;
        margin-top: 37px;
      }
    }
  }

  @media only screen and (max-width: 760px) {
    .promo-tours {
      flex-direction: column;

      .promo-one {
        margin-bottom: 10px;
      }

      .promo-two {
        margin-bottom: 10px;
      }

      .promo-three {
        margin-bottom: 10px;
      }
    }
  }

  .booking {
    max-width: 818px;
    padding-top: 50px;
    padding-left: 10px;
    margin-left: 75px;

    .longInput {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding-bottom: 20px;

      input {
        width: 300px;
        height: 58px;
        border: 1px solid #79addc;

        #email {
          width: 453px;
        }
      }
    }

    .longInput2 {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding-bottom: 20px;

      input {
        width: 300px;
        height: 58px;
        border: 1px solid #79addc;
      }
    }

    .checkIn {
      max-width: 818px;
      display: flex;
      margin-left: -75px;
      justify-content: space-evenly;
      align-items: center;
      padding-bottom: 20px;
      font-family: GS;

      input {
        width: 300px;
        height: 58px;
        border: solid #79addc;
        border-width: 1px;
      }
    }

    .checkOut {
      max-width: 818px;
      display: flex;
      margin-left: -75px;
      justify-content: space-evenly;
      align-items: center;
      padding-bottom: 20px;
      font-family: GS;

      input {
        width: 300px;
        height: 58px;
        border: solid #79addc;
        border-width: 1px;
      }
    }

    .people {
      margin-left: 25px;
      max-width: 818px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding-bottom: 20px;
      font-family: GS;

      input {
        width: 103px;
        height: 58px;
        border: 1px solid #79addc;
      }
    }

    .messageBox {
      margin-left: 75px;

      input {
        width: 100%;
        height: 150px;
        box-sizing: border-box;
        border: 1px solid #79addc;
      }
    }

    .bookingSubmit {
      margin-left: 75px;
      width: 100%;
      @include site-button;
      align-items: center;
      justify-content: center;
      margin-top: 37px;
    }
  }
}
